{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    body { font-family: Arial, sans-serif; padding: 20px; }
    #log { margin: 20px 0; padding: 10px; border: 1px solid #ccc; width: 90%; white-space: pre-wrap; }
    #eventDetails { margin-top: 20px; }
    .seat-grid { display: grid; gap: 4px; margin-top: 10px; }
    .seat-button { width: 30px; height: 30px; border: none; cursor: pointer; }
    .seat-available { background-color: green; }
    .seat-taken { background-color: red; cursor: not-allowed; }
    .standing-section { margin-top: 10px; }
    .standing-info { font-weight: bold; margin-right: 10px; }
  </style>
</head>
<body>
  <h1>Strona Eventu - InviLink (Mint NFT)</h1>
  
  <!-- Input do podania EventID -->
  <div>
    <label>
      Event ID:
      <input type="text" id="inputEventID" placeholder="Wpisz Event ID (np. 8NRTbKQ_D3eo)">
    </label>
    <button id="loadEventBtn">Load Event</button>
  </div>
  
  <div id="log"></div>
  <div id="eventDetails"></div>
  <h2>Sekcje</h2>
  <div id="sectionsContainer"></div>


  <script src="https://cdn.jsdelivr.net/npm/@solana/web3.js@latest/lib/index.iife.min.js"></script>
  <script src="/static/js/getConstants_v4.js"></script>
  <script src="/static/js/initConnection_v4.js"></script>
  <script src="/static/js/serializationBundle_v4.js"></script>

  <script src="/static/js/event_zone/mint_ticket_v4.js"></script>

{% endblock %}
