{% extends "base.html" %}
{% block content %}
{% load static %}
  <style>
    body {
      background-color: #0d0d0d;
      color: white;
      font-family: 'Segoe UI', sans-serif;
      padding: 20px;
    }
    .nft-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    .gradient-text {
      background: linear-gradient(45deg, #1e90ff, #8e44ad);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .highlighted-attributes li {
      color: #FFD700; /* złoty kolor */
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 4px;
    }


    .card {
      background-color: #1a1a1a;
      border: 1px solid #444;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 4px 12px rgba(0,0,0,0.5);
      width: 300px;
    }
    .card img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: auto;
    }
    .card-body {
      padding: 15px;
    }
    .btn-invilink {
      background: linear-gradient(45deg, #1e90ff, #8e44ad);
      border: none;
      color: white;
      width: 100%;
      font-weight: 600;
      padding: 10px;
      border-radius: 0;
    }
    .btn-invilink:hover {
      background: linear-gradient(45deg, #3aa0ff, #a262d4);
    }
    .attributes {
      padding-left: 20px;
      font-size: 0.9rem;
    }
    #console.log {
      margin-top: 30px;
      white-space: pre-wrap;
      font-size: 14px;
      color: #ccc;
    }
  </style>
  <div class="container py-5">
    <h1 class="text-center mb-4" style="background: linear-gradient(45deg, #1e90ff, #8e44ad); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">My NFTs</h1>
    <div id="nftContainer" class="nft-container"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@solana/web3.js@latest/lib/index.iife.min.js"></script>
  <script src="/static/js/getConstants_v4.js"></script>
  <script src="/static/js/initConnection_v4.js"></script>
  <script src="/static/js/serializationBundle_v4.js"></script>

  <script src="/static/js/event_zone/loadTickets_v4.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", loadNFTs);
</script>

  
{% endblock %}